#main-div {
    height: 300px;
    width: 300px;
    background-color:  #3F51B5;
    margin: 0 auto; 
    margin-top: 200px;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
}

#heading {
    margin-bottom: 30px;
}

#name {
    width: 200px;
    margin-bottom: 20px;
    line-height: 2em;
    padding: 5px;
}

#room {
    width: 200px;
    margin-bottom: 20px;
    line-height: 2em;
    padding: 5px;
}

#submit-button {
    background-color:  #FFC107;
    color: black;
}

